.formaBlock{
  width: 60%;
  background-color:  #116466;
}
.input {
    margin: 2rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 30rem;
  }
  
  .input label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.7rem;
    color: azure;
  }
  
  .input input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.1rem;
    margin-bottom: 0.7rem;
    background-color: #D1E8E2;
  }
  
  .input input:focus {
    outline: none;
    border-color: #074ea0;
  }
  