.card{
    -webkit-box-shadow: 16px 4px 46px -17px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 16px 4px 46px -17px rgba(34, 60, 80, 0.2);
    box-shadow: 16px 4px 46px -17px rgba(34, 60, 80, 0.2);
    border-radius: 8px;
}