.cost {
    padding: 1rem;
    background-color: #aac4d1;
    margin: 2rem auto;
    width: 70rem;
    max-width: 95%;
  }
  .main{
    width: 70rem;
    max-width: 95%;
    margin: 2rem auto;
  }
  h1{
    font-size: 28px;
  }